<!--Данный файл отображает страницу удаления постов
Вся информация о посте берется из БД в файле views.py из представления для удаления-->

<!--Наследование от главного файла-->
{% extends 'default.html' %}

<!--Написание заголовка-->
{% block title %}
Post delete
{% endblock title %}

<!--Описание содержания
в таблице выводим всю ин-ию и прописали кнопку подтверждения-->
{% block content %}
<h2>Вы действительно хотите удалить данную публикацию?</h2>
<hr>
<!--В таблице выводим информацию о посте-->
<table>
    <thead>
        <th>
            <b>Автор публикации</b>
        </th>
        <th>
            <b>Тип публикации</b>
        </th>
        <th>
            <b>Время публикации</b>
        </th>
        <th>
            <b>Категория публикации</b>
        </th>
        <th>
            <b>Заголовок публикации</b>
        </th>
        <th>
            <b>Содержание публикации</b>
        </th>
        <th>
            <b>Рейтинг публикации</b>
        </th>
    </thead>
    <br>
    <!--Вывод полей модели-->
    <tr>
        <td>
            {{ post.author }}
        </td>
        <td>
            {{ post.view}}
        </td>
        <td>
            {{ post.time_of_creation }}
        </td>
        <td>
            < {{ post.post_category }} >
        </td>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.text }}
        </td>
        <td>
            {{ post.post_rating }}
        </td>
    </tr>
</table>
<br>
<!--Реализация кнопки подтверждения-->
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить">
</form>
{% endblock content %}