<!--Данный шаблон расширяет базовый шаблон(default.html) и добавляет заголовок второго уровня
 с названием страницы и переменной, полученной из контекста.
 Заметим, что это как раз та самая страница, которая будет показываться только авторизованному пользователю!-->

<!--Наследование от главного шаблона-->
{% extends "default.html" %}

<!--Описание содержания шаблона-->
{% block content %}
<h2>Пользователь "{{request.user.username}}" - статус {% if is_not_authors %} ПОЛЬЗОВАТЕЛЬ {% endif %} {% if is_authors %} АВТОР {% endif %}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<button> <a href="/sign/logout/">Выйти</a> </button>
{% if is_not_authors %}
<button><a href="/sign/upgrade_me/">Стать Автором</a></button>
{% endif %}

{% if is_authors %}
<button><a href="/sign/not_author/">Хочу стать пользователем!</a></button>
{% endif %}

{% endblock %}